<!DOCTYPE html>
<html lang="en">
<body>
    <h1>Enter some text</h1>
    <h2>don't worry, I'll spell it 'right'</h2>
    <form action="." method="POST">
        <input type="text" name="text">
	<h2>Level:</h2>	
	<input type="radio" name="level" value="low" checked>low
	<input type="radio" name="level" value="medium">medium
	<input type="radio" name="level" value="high">high
	<h2>Percentage:</h2>	
	<input type="radio" name="percentage" value="40" checked>4
	<input type="radio" name="percentage" value="50">5
	<input type="radio" name="percentage" value="60">6     
	<input type="submit" name="my-form" value="Send">
    </form>
</body>
</html>
